.fb-plusplus-wrap{
   .fb-plusplus-btn-wrap{
      z-index: 10000;
      cursor: pointer;
      display: inline;
      position: absolute;
      right: 53px;
      bottom: 4px;

      width: 15px;
      height: 15px;
      img {
         z-index: 10000;
         right: 53px;
         bottom: 4px;
         opacity: 0.6;

         &:hover{
            opacity: 1;
         }
      }
   }
}

.popover.fade.top.in{
   width: 250px;
   height: 200px;
   overflow: hidden;
}

.stickers{
   overflow-y: auto;
   height: 130px;
}

.hidden{
   visibilitiy: hidden;
}

.active{
   
}